<!DOCTYPE html>
<!-- HTML5-->
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <!-- Conjunto de caracteres-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- se adaptar para dispositivos menores-->
    <title>Happy</title>

    <link rel="icon" href="/images/logo-icon.png" />
    <!-- "rel" de reclacionamento -> icone 
    "href" o diretório -> "./" ->raiz-->

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <header>
          <img class="animate-up" id="logo" src="/images/logo.svg" alt="Logomarca de Happy" />
          <!-- "svg" é bem compativel aos tamanhos diferentes de tela e tem um qualidade muito boa
              "alt" descrição da imagem, importância semantica e para os navegadores-->

          <div class="location animate-up">
            <!--"div" -> container genérico-->
            <strong>Rio do Sul</strong
            ><!-- a tag strong possui o display inline, ou seja ela só ocupa a parte escrita-->
            <p>Santa Catarina</p>
            <!-- tags como p, div, header tem o display tipo block, ou seja vão ocupar a linha inteira-->
          </div>
        </header>

        <main>
          <!-- conteudo principal -->
          <h1 class="animate-up">Leve felicidade para o mundo</h1>

          <section class="visit">
            <p class="animate-up">Visite orfanatos e mude o dia de muitas crianças</p>

            <a href="/orphanages" title="Visite orfanatos" class="animate-up">
              <!-- "title" atributo global, importancia para os motores de busca -->
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
    </div>
  </body>
</html>

<!--
    HTML
        HyperText
            hipertexto
    
    Markup
        marcação <tags>

    Language
        linguagem
-->
